/* 
    font-family: 'Dosis', sans-serif;
    font-family: 'Gloock', serif;
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Raleway', sans-serif; 
 */

                /* ----------------- START COMMON CSS ----------------- */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none !important;
    list-style: none;
    font-family: 'Open Sans' sans-serif;
}

.wrapper{
    height: 100%;
    width: 100%;
    background: #fafafa;
}
.container{
    box-shadow: 0px 0px 20px 0px rgba(176,176,176,1);
    width: 1000px;
    background: #fff;
    padding: 0 15px;
}
ul{
    padding: 0 !important;
    margin: 0;
}

                /* ----------------- END COMMON CSS ----------------- */


                /* ----------------- END TOP INFORMATION ----------------- */
.top_information{
    background: #609513;
    padding: 7px 10px;
}
.top_information .loc_num{
    color: #fff;
}
.top_information .loc_num i,span{
    font-size: 14px;
}
.top_information .loc_num i{
    margin: 0 5px;
}
.top_information .loc_num span{
    margin-right: 20px;
}
                /* ----------------- END TOP INFORMATION ----------------- */


                /* ----------------- END BANNER PART ----------------- */

.banner_section .banner_part{
    position: relative;
}
.banner_section .banner_part img{
    height: 400px;
    object-fit: cover;
}
.banner_section .banner_part .overlay{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.banner_section .banner_part .overlay img{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    margin: 20% 0 0 10%;
}
.banner_section .banner_part .overlay h1{
    margin: 0 0 0 10%;
    color: #fff;
    text-shadow: 3px 3px 3px #000;
}
.banner_section .banner_part .overlay p{
    margin: 0 0 0 10%;
    color: #fff;
    text-shadow: 3px 3px 3px #000;
    font-size: 20px;
}

                /* ----------------- END BANNER PART ----------------- */


                /* ----------------- END NAVBAR PART ----------------- */

.wrapper .navbar {
    margin: 10px 0;
    /* background: #dfdfdf; */
    padding: 10px 0;
}
.wrapper .navbar .navbar_menu {
    width: 100%;
    margin: 0;
}
.wrapper .navbar .navbar_menu .menu_item{
    display: inline;
    margin: 0;
}
.wrapper .navbar .navbar_menu .menu_item a{
    padding: 10px 20px;
    background: #dfdfdf;
    color: #609513;
    width: 100%;
}
.wrapper .navbar .navbar_menu .menu_item a:hover{
    background: #609513;
    color: #fff;
}
.wrapper .navbar .navbar_menu .menu_item a i{
    margin-left: 10px;
}


                /* ----------------- END NAVBAR PART ----------------- */


                /* ----------------- END NAVBAR PART ----------------- */
.one{
    height: 100vh;
    width: 100%;
    background: #609513;
}
                /* ----------------- END NAVBAR PART ----------------- */
